<div class="container">
    <form>
        <!-- SIGN UP -->
      <div class="row BOX">
          <div class="signup" [@signstate]='state'>
          <div class="col-md-5 first">
              <div class="collection1">
                <h1>Welcome Backe!</h1>
                <p> to Keep Conected with us <br> Please Sign with your email</p>
               <button (click)="onanimate()"type="button">Sign in</button>
              </div>

          </div>
          <div class="col-md-7 second">
              <div class="collection2">
                  <h1>Create Acount</h1>
                  <i class="fa fa-facebook-f"></i>
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-linkedin"></i>
              </div>
              <p>Our use your email for registration</p>
              <div class="inputs">
                  <input class="input" placeholder='User Name'>
                  <br>
                  <i class="fa fa-user icon1"></i>
                  <input class="input" placeholder='E-mail'>
                  <br>
                  <i class="fa fa-envelope-square icon2"></i>
                  <input class="input" placeholder='Password' type="password">
                  <br>
                  <i class="fa fa-key icon3"></i>

              </div>
              <button>SIGN UP</button>
          </div>
        </div>
         <!-- END SIGN UP -->
         <!--sign in-->
         <div class="signin">
            
            <div class="col-md-7 second">
                <div class="collection2">
                    <h1>Sign In </h1>
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <p>Our use your email for registration</p>
                <div class="inputs">
                   
                    
                    <input class="input" placeholder='E-mail'>
                    <br>
                    <i class="fa fa-envelope-square  signini1"></i>
                    <input class="input" placeholder='Password' type="password">
                    <br>
                    <i class="fa fa-key  signini2"></i>
  
                </div>
                <button type="button"  >SIGN IN</button>
            </div>
            <div class="col-md-5 first">
                <div class="collection1">
                  <h1>Hello freind!</h1>
                  <p> enter your persolnal id <br> Please Sign with your email</p>
                  <button (click)="onanimate1()" type="button">Sign UP</button>
                </div>
  
            </div>
          </div>
          <!--end sign in-->
      </div>
      
    </form>
</div>
